.progress-bar {
  width: 100%; /* Make the progress bar take the full width */
  height: 10px; /* Optional: Set a specific height for the progress bar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-container {
  width: 100%; /* Make the inner container take the full width */
  position: relative;
  z-index: 10;
}

progress {
  width: 100%; /* Make the progress element take the full width */
  height: 50%; /* Optional: Set the height to match the container height */
  -webkit-appearance: none; /* Remove default styling on WebKit browsers */
  appearance: none; /* Remove default styling on other browsers */
}

progress::-webkit-progress-bar {
  width: 100%;
  background-color: #f3f3f3; /* Background color of the progress bar */
}

progress::-webkit-progress-value {
  background-color: #186DB5; /* Color of the progress indicator */
}


